@mixin mainTitle(){
    
    font-size: 60px;
    line-height: 150%;
    letter-spacing: 2px;
    font-weight: 900;
}

@mixin smallTitle(){
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 2px;
    font-weight: 900;
}

@mixin connect(){
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.8px;
    font-weight: 400;
}

@mixin content(){
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.8px;
    font-weight: 400;
}